@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-roboto-mono: "Roboto Mono", monospace;
  --font-inter: "Inter", sans-serif;
  --font-edu-sa: "Edu SA Beginner", sans-serif;
}
